body {
    background-color: #f0f0f0; /*Gris claro*/
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: navy;
    text-align: center;
}

p{
    color: #333;
    font-size:18px;
}

.caja{
    width: 300px;
    border: 2px solid black;
    padding: 20px;
    margin: 50px auto;
    background-color: white;
}

.banner{
    height: 300px;
    background-image: url('https://placehold.co/1200x300');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.boton{
    display:inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    
}

.boton:hover {
    background-color: #0056b3;
}

nav ul{
    list-style: none;
    background-color: #333;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li{
    display: inline-block;
}

nav a{
    display:block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.tarjeta {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: white;
    margin: 20px auto;
   }

.tarjeta img {
    border-radius: 50%;
    width: 100px;
   }

.tarjeta button {
    border: none;
    padding: 10px;
    color: white;
    background-color: #000;
    cursor: pointer;
    border-radius: 20px;
   }

.galeria {
    display: flex;
    flex-wrap: wrap; /* Si no caben, bajan a la otra línea */
    gap: 10px; /* Espacio entre fotos */
   }

.item {
    width: calc(50% - 10px); /* 2 columnas */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
   }

.hero { 
    padding: 100px 20px; 
    text-align: center; 
    background: #eef2f3; 
}


.btn-hero { 
    background: #28a745; 
    color: white; 
    padding: 10px 30px; text-decoration: none;
    border-radius: 5px; 
}

.columnas { 
    display: flex;
    justify-content: space-around; padding: 50px;
 }


.col {
    width: 30%; 
    background: #f9f9f9; 
    padding: 20px; 
    text-align: center;
    border: 1px solid #ddd; 
}